h1 {
    text-align: center;
}

label:first-child {
    margin-left: 4rem;
}

label:last-child {
    margin-right: 4rem;
}

.radio-btns {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cat-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28rem;
    height: 28rem;
}

.cat-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24rem;
    height: 22rem;
}   

.btn {
    margin-left: 10.2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;      
}

.div-block {
    display: block;
}

.field {
    margin-bottom: 1.2rem;
    border: 1px solid black;
    border-radius: 3px;
}

.long-field {
    width: 25rem;        
}

.short-field {
    width: 12rem;    
    margin-right: 0.8rem;        
}
