.container {
    display: grid;
    justify-content: center;
    align-items: center;    
}

.header-main {
    width: fit-content;
    display: block;
}

.card {
    width: 100%;        
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    color: white;
    font-weight: 500;
    background-color: #28a745;
}

.btn:hover {
	animation: bounce 1s linear;
}

.span-center {
    width: 100%;
    text-align: center;
}

.billy-lbl {
    margin-left: 10px;
}

.button-center {        
    margin-left: 16px;    
}

.btn-orange {
    background-color: #e9780f;
}

.img-center {    
    display: flex;
    justify-content: center;
    align-items: center;      
    bottom: 0;
    margin-left: auto;
}

img {
    width: 320px;
}

@keyframes bounce {
	20% {
			transform: translateY(-10px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}
